/* Цвет основы и цветoвая гамма страницы */
* {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --text-color:  #757575;
  --title-color: #212121;
  --color-blue: #2196F3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #990909;
  --color-footer: #2F303A;
  --color-whitesemi: rgba(255, 255, 255, 0.6);
  --color-button-grey: #F5F4FA;
  --color-button-blue: #188CE8;
}

/* Основные шрифт, цвет шр ифта и др. */

body {
  background-color:#FFFFFF;
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

/* Полезное правило для удаления атрибутов в списке */

/* 
.list {
list-style: none;
} */

/* Корисна вставка:  */

img {
  display: block;
  max-width: 100%;
}

/* main */

.section {
    margin: 0 auto 0;
    justify-content: center;
    width: 1600px;  
}

.header {
padding:25px 0;
border-bottom: 1px solid #ECECEC;
}

.container, .container-footer { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 0 15px;
  margin:0 auto;
}

/* Первая страница Студия */

.studio-logo {
  margin-right: 93px;

  color: var(--color-black);
  
  font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
}

.web-logo {
  color: var(--color-blue);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.pages {  
  display: flex;
  width: 294px;
  justify-content: space-between;
  margin-right: 305px;
}
  
.pages .light {
  display: block; 

  color: var(--color-blue);

  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
 
.pages  .light:active {
  color: var(--color-blue);

}

 .pages .studio-web {
  display: block;

  color: var(--title-color);

  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.studio-web:hover,
.studio-web:focus {
  color: var(--color-blue);
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 333px;
}

.contact-mail, .contact-link  {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

.contact-mail:hover,
.contact-mail:focus {
  color: var(--color-blue);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-blue);
  }


.contact-mail::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.contact-mail:nth-child(1)::before {
  background-image: url("../images/envelope.svg");
}

.contact-link::before {
  display:inline-flex;
  content:"";
  width:10px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  }

.contact-link:nth-child(1)::before {
  background-image: url("../images/smartphone.svg"); 
}

/* Main solution */

.overlay { 
  margin-left: 0;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url("../images/img14.jpg");
  background-size: cover;
  background-position: center;
}

/* 
.text {
padding-top:200px;
margin-top:0;
margin-bottom: 0;

  color:var(--color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;  
}

.main-button {
  display: inline-block; 
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px; 
  margin-bottom: 200px;
  border-radius: 4px;    
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
     
  background-color: var(--color-blue);  
  color: var(--color-white);    
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-button-blue);
}
 */


.blur {
  height: 600px;
  text-align: center;
  background-color: var(--color-footer);
  margin: 0 auto 94px;
  justify-content: center;
}

.effekt {
  display: block;
  margin: 0 auto 0;
}

.text {
  padding-top: 200px;
  margin: 0 auto 30px;
  width: 696px;
  text-align: center;
  justify-content: center;

  color: var(--color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--color-button-blue);
}

.respons {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0 auto 94px;
}

.respons-item::before {
display: block;
content: "";
width: 270px;
height: 120px;
outline: 2px solid red; 
background-size: 70px;
background-repeat: no-repeat;
background-position: center;
background-color: var(--color-button-grey);
margin-bottom: 30px;

}

.respons-item:nth-child(1)::before {
  background-image: url("../images/antenna.svg"); 
} 

.respons-item:nth-child(2)::before {
    background-image: url("../images/clock.svg");
}

.respons-item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.respons-item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}


.respons-item:not(:last-child)
 {
  margin-right:30px;
  
}

.rules-list {  
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.rules-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* 
.image {
  width: 1600px;
  justify-content: center;
} */

.deal {
  margin: 0 auto 188px;
}

.practice {
  margin: 0 auto 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}


/* .section-list {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

/* .photo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
} */

.task {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto 0;
}


.task-item:not(:last-child) {
  margin-right: 30px;
}

.portrait {
  margin-bottom: 94px;
}

.profil {
  display: flex;
}

.profil-item {
  background-color: var(--color-button-grey);
}

.profil-item:not(:last-child) {
  margin-right: 30px;
}

.profil .icon {
  min-width: 270px;
  text-align: center;
}

.sites {
  display: flex;
}

.soc {
  display: inline-flex;
  margin: auto auto;
}

.instagram-g::after {
  display: inline-block;
  content: "";
  outline: 2px solid red;
  width:44px;
  height:44px;
  margin-bottom: 30px;
 background-color: var(--color-white);
 background-repeat: no-repeat;
 border-radius: 50%;
 cursor: pointer;
}

 
 .instagram-g:nth-child(1)::after {
  background-position: center;
  background-image: url("../images/instagram.svg");
 }

.instagram-g:nth-child(2)::after {
  background-position: center;
  background-image: url("../images/instagram.svg");
}

.instagram-g:nth-child(3)::after {
  background-position: center;
  background-image: url("../images/instagram.svg");
}

.instagram-g:nth-child(4)::after {
  background-position: center;
  background-image: url("../images/instagram.svg");
}

.twitter-g::after {
  display: inline-block;
  content: "";
  outline: 2px solid red;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.twitter-g:nth-child(1)::after {
  background-position: center;
  background-image: url("../images/twitter.svg");
}

.twitter-g:nth-child(2)::after {
  background-position: center;
  background-image: url("../images/twitter.svg");
}

.twitter-g:nth-child(3)::after {
  background-position: center;
  background-image: url("../images/twitter.svg");
}

.twitter-g:nth-child(4)::after {
  background-position: center;
  background-image: url("../images/twitter.svg");
}


.facebook::after {
  display: inline-block;
  content: "";
  outline: 2px solid red;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.facebook:nth-child(1)::after {
  background-position: center;
  background-image: url("../images/facebook.svg");
}

.facebook:nth-child(2)::after {
  background-position: center;
  background-image: url("../images/facebook.svg");
}

.facebook:nth-child(3)::after {
  background-position: center;
  background-image: url("../images/facebook.svg");
}

.facebook:nth-child(4)::after {
  background-position: center;
  background-image: url("../images/facebook.svg");
}


.linkedin::after {
  display: inline-block;
  content: "";
  outline: 2px solid red;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.linkedin:nth-child(1)::after {
  background-position: center;
  background-image: url("../images/linkedin.svg");
}

.linkedin:nth-child(2)::after {
  background-position: center;
  background-image: url("../images/linkedin.svg");
}
.linkedin:nth-child(3)::after {
  background-position: center;
  background-image: url("../images/linkedin.svg");
}
.linkedin:nth-child(4)::after {
  background-position: center;
  background-image: url("../images/linkedin.svg");
}

.icon {
  min-width: 270px;
  text-align: center;
}
/* 
.portrait {
  width: 1600px;
} */

.name-list {
  margin-top: 30px;
  margin-bottom:0;
  color: var(--title-color);
  font-size: 16px;
  line-height: 1.17;
}

.profi-text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
}

.footer {
  padding: 60px 0;
  background-color: var(--color-footer);

}

.container-footer {
  display: block;

}

.footer-address {
  margin-top: 20px;
}

.footer-address .left:not(:last-child) {
  margin-bottom: 9px;

}

.address-studio {
  margin-bottom: 20px;
  color: var(--color-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  font-style: normal;
}

.address-text {

  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address-text:hover,
.address-text:focus {
  color: var(--color-blue);
}

.address-info {
  color: var(--color-whitesemi);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: none;
  font-style: normal;
}

.address-info:hover,
.address-info:focus {
  color: var(--color-blue);
}




 /*  Вторая страница Portfolio */





.stories {
  width: 1600px;
  margin: 94px auto 94px;
}

.inspite {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 34px;

}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

/* .buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
} */

.all-button {
  padding: 6px 22px;

  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;

  border: none;
}

.all-button:hover,
.all-button:focus {
  background-color: var(--color-button-blue);
}

.web-button {
  padding: 6px 22px;

  background-color: var(--color-button-grey);
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  border: none;
}

.web-button:hover,
.web-button:focus {
  background-color: var(--color-button-blue);
  color: var(--color-white);
}

.flex-container {
 display:flex;
 flex-wrap:wrap;
}

.elements {
  width:370px;
  margin-right:30px;
  margin-bottom: 34px;
}


.elements:nth-child(3n){
  margin:0;
}


.elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.border {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.works {
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 24px;

  color: var(--title-color);

  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.site-text {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
















